*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
}
.main {
  width: 100%;
  height: 700px;
  background-image: url(../images/VIP-background.png);
  background-size: cover;
  background-position: center center;
  border-radius: 0 0 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 50px;
}
@media screen and (max-width: 500px) {
  .main {
    height: 600px;
    border-radius: 0 0 40px 40px;
    padding: 10px;
  }
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 12px;
}
@media screen and (max-width: 500px) {
  .main-header {
    visibility: hidden;
  }
}
.main-header__logo {
  width: 54px;
  height: 56px;
  margin-right: 20px;
}

.main-header__menu .menu-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .main-header__menu .menu-list {
    flex-direction: column;
  }
}
.main-header__menu .menu-list__item {
  list-style-type: none;
}
.main-header__menu .menu-list__item a {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 20px;
  letter-spacing: 0.8px;
}
.main-header__menu .menu-list .active a {
  color: #0072c9;
}

.main-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .main-content {
    flex-wrap: wrap;
  }
}
.main-content__text {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .main-content__text {
    flex-direction: column-reverse;
    align-items: start;
  }
}
.main-content__text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .main-content__text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.main-content__text img {
  margin-left: 20px;
  width: 90px;
}
@media screen and (max-width: 500px) {
  .main-content__text img {
    width: 120px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.main-content a {
  margin-right: 45px;
}
.main-content__phone {
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 999;
}
@media screen and (max-width: 500px) {
  .main-content__phone {
    transform: translateX(30px) translateY(-150px);
    position: fixed;
    right: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.main {
  background-image: url(../images/purchases-background.png);
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .main {
    background-image: url(../images/purchases-background\(mini\).png);
    background-position: center;
  }
}

.main-content__text img {
  transform: translateX(0) translateY(40px);
}
@media screen and (max-width: 500px) {
  .main-content__text img {
    width: 90px;
    transform: translateX(0) translateY(0);
  }
}
.main-content__phone {
  transform: translateY(35px);
}
@media screen and (max-width: 500px) {
  .main-content__phone {
    position: fixed;
    transform: translateY(-160px);
    right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.purchase {
  position: relative;
  margin-top: 180px;
}
@media screen and (max-width: 500px) {
  .purchase {
    margin-top: 80px;
  }
}
@media screen and (max-width: 500px) {
  .purchase .background-leaf__left {
    width: 110px;
    height: 100px;
    right: 0;
    transform: translateX(460px) translateY(-40px) rotate(180deg);
  }
}
.purchase-content {
  width: 85%;
  margin: 0 auto;
  height: 120px;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 50px;
  border: 3px solid rgba(138, 174, 245, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 30px 0;
}
@media screen and (max-width: 500px) {
  .purchase-content {
    width: 90%;
    height: 100px;
    padding: 15px;
    border-radius: 80px;
  }
}
.purchase-content__title {
  text-align: center;
  font-size: 45px;
  color: #8ad2f5;
}
@media screen and (max-width: 500px) {
  .purchase-content__title {
    font-size: 30px;
  }
}
.purchase .background-leaf__right {
  width: 340px;
  height: 305px;
  position: absolute;
  right: -80px;
  transform: translateX(5px) translateY(-40px) rotate(180deg) scaleY(0.9);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .purchase .background-leaf__right {
    width: 110px;
    height: 100px;
    right: 0;
  }
}
.purchase .background-leaf__right img {
  width: 90%;
}
.purchase .background-leaf__left {
  position: absolute;
  width: 310px;
  height: 280px;
  left: -82px;
  transform: translateX(20px) translateY(-30px) scale(1.1);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .purchase .background-leaf__left {
    transform: translateX(-40px) translateY(-70px) scale(0.4);
    width: 80px;
    height: 100px;
    left: 0;
  }
}

.prices {
  margin-top: 60px;
}
@media screen and (max-width: 500px) {
  .prices {
    margin-top: 160px;
  }
}
.prices-header {
  height: 120px;
}
.prices-header ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .prices-header ul {
    width: 95%;
    flex-direction: column;
    margin: 20px auto;
  }
}
.prices-header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 2px;
  width: 100%;
  height: 120px;
  background-color: #20a6e7;
  color: #ffffff;
  background-color: #20a6e7;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .prices-header ul li {
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 10px;
  }
}
.prices-header ul li:first-child {
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 500px) {
  .prices-header ul li:first-child {
    border-radius: 20px;
  }
}
.prices-header ul li:last-child {
  border-radius: 0 20px 20px 0;
}
@media screen and (max-width: 500px) {
  .prices-header ul li:last-child {
    border-radius: 20px;
  }
}
.prices-header ul .active {
  background-color: #01af1c;
}

.card {
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 50px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c7c7c7;
}
@media screen and (max-width: 500px) {
  .card {
    width: 95%;
    padding: 10px;
    margin: 160px auto 0;
    border-radius: 30px;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c7c7c7;
  padding: 25px 20px;
  font-size: 22px;
  align-items: center;
  text-align: center;
  z-index: -1;
}
.card-header h2:nth-child(2) {
  margin-left: 130px;
}
@media screen and (max-width: 500px) {
  .card-header h2:nth-child(2) {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .card-header {
    font-size: 12px;
    padding: 10px;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
}
.card-content .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: rgba(138, 210, 245, 0.4);
  padding: 35px;
  border-radius: 20px;
}
@media screen and (max-width: 500px) {
  .card-content .content {
    padding: 15px;
    margin-top: 15px;
  }
}
.card-content .content-title {
  width: 25%;
  font-size: 32px;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .card-content .content-title {
    font-size: 15px;
    width: 33%;
  }
}
.card-content .content-price {
  align-items: center;
  text-align: center;
  font-size: 24px;
}
.card-content .content-price .color-blue {
  font-size: 36px;
  font-weight: bold;
  color: #20a6e7;
}
@media screen and (max-width: 500px) {
  .card-content .content-price .color-blue {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .card-content .content-price {
    font-size: 15px;
  }
}
.card-content .content .sale-icon {
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateX(-80px) translateY(-80px);
  z-index: 999;
}
@media screen and (max-width: 500px) {
  .card-content .content .sale-icon {
    visibility: hidden;
  }
}
.card-content .content .sale-icon p {
  font-size: 25px;
  font-weight: bold;
  transform: translateX(-70px);
}/*# sourceMappingURL=purchases.css.map */