*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 83%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
}
.main {
  width: 100%;
  height: 700px;
  background-image: url(../images/VIP-background.png);
  background-size: cover;
  background-position: center center;
  border-radius: 0 0 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 50px;
}
@media screen and (max-width: 500px) {
  .main {
    height: 600px;
    border-radius: 0 0 40px 40px;
    padding: 10px;
  }
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 12px;
}
@media screen and (max-width: 500px) {
  .main-header {
    visibility: hidden;
  }
}
.main-header__logo {
  width: 54px;
  height: 56px;
  margin-right: 20px;
}

.main-header__menu .menu-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .main-header__menu .menu-list {
    flex-direction: column;
  }
}
.main-header__menu .menu-list__item {
  list-style-type: none;
}
.main-header__menu .menu-list__item a {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 20px;
  letter-spacing: 0.8px;
}
.main-header__menu .menu-list .active a {
  color: #0072c9;
}

.main-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .main-content {
    flex-wrap: wrap;
  }
}
.main-content__text {
  display: flex;
  align-items: center;
}
.main-content__text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .main-content__text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.main-content__text img {
  width: 90px;
  position: absolute;
  transform: translateX(245px) translateY(35px);
}
@media screen and (max-width: 500px) {
  .main-content__text img {
    width: 120px;
    transform: translateX(0) translateY(-100px);
  }
}
.main-content a {
  margin-right: 100px;
}
.main-content__phone {
  transform: translateX(55px) translateY(35px);
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 999;
}
@media screen and (max-width: 500px) {
  .main-content__phone {
    transform: translateX(30px) translateY(-150px);
    position: fixed;
    right: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}/*# sourceMappingURL=styles.css.map */