.main {
  background-image: url(../images/attractions-back.png);
  background-size: cover;
}

.main-content {
  &__text {
    img {
      transform: translateX(-375px) translateY(35px);
      @media screen and (max-width: 500px) {
        width: 90px;
        transform: translateX(0) translateY(0);
      }
    }
  }

  &__phone {
    transform: translateY(35px);

    @media screen and (max-width: 500px) {
      position: fixed;
      transform: translateY(-160px);
      right: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.attractions {
  position: relative;
  margin-top: 180px;

  @media screen and (max-width: 500px) {
    margin-top: 80px;
  }

  img {
    width: 90%;
  }

  .background-leaf__left {
    position: absolute;
    width: 310px;
    height: 280px;
    left: -80px;
    top: 0;
    transform: translateY(-80px);
    z-index: -1;

    @media screen and (max-width: 500px) {
      width: 110px;
      height: 100px;
      transform: translateX(460px) translateY(-40px) rotate(180deg);
    }
  }

  &-content {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      height: 900px;
      flex-direction: column;
      align-items: center;
    }

    .content {
      width: 56%;
      height: 580px;
      background-color: rgba(245, 245, 245, 0.3);
      border: 1px solid #8ad2f5;
      border-radius: 50px;
      backdrop-filter: blur(15px);
      padding: 30px;

      @media screen and (max-width: 500px) {
        width: 450px;
        margin: 0 auto;
        padding: 20px;
      }

      &__title {
        font-size: 50px;
        color: #8ad2f5;

        @media screen and (max-width: 500px) {
          font-size: 40px;
        }
      }

      &__text {
        padding: 20px 0 10px;
        font-size: 20px;
        letter-spacing: 1.5px;

        @media screen and (max-width: 500px) {
          padding: 10px 0 10px;
          line-height: 20px;
          font-size: 16px;
        }
      }

      &__img {
        width: 100%;
        height: 35px;

        @media screen and (max-width: 500px) {
          visibility: hidden;
          position: absolute;
        }
      }

      &__img-mobile {
        width: 100px;
        height: 35px;
        visibility: hidden;
        margin-top: 10px;

        @media screen and (max-width: 500px) {
          visibility: visible;
        }
      }

      &-image {
        width: 470px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50px;
          border: 5px solid rgba(138, 210, 245, 0.2);
        }

        @media screen and (max-width: 500px) {
          height: 300px;
        }
      }
    }
  }
}

.images {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 500px) {
    margin-top: 20px;
    align-items: center;
  }

  &-child__one {
    width: 100%;

    img {
      width: 100%;
      border-radius: 50px;
      border: 5px solid rgba(138, 210, 245, 0.2);

      @media screen and (max-width: 500px) {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      width: 470px;
      height: 300px;
    }
  }

  &-child__two {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    img {
      width: 48.5%;
      border-radius: 50px;
      border: 5px solid rgba(138, 210, 245, 0.2);

      @media screen and (max-width: 500px) {
        width: 100%;
        height: 300px;
        margin: 10px 0 10px;
      }
    }

    @media screen and (max-width: 500px) {
      width: 470px;
      flex-direction: column;
      margin-top: 10px;
    }
  }

  &-child__three {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    img {
      max-width: max-content;
      border-radius: 50px;
      border: 5px solid rgba(138, 210, 245, 0.2);

      @media screen and (max-width: 500px) {
        width: 100%;
        max-width: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0 10px;
        object-fit: fill;
      }
    }

    @media screen and (max-width: 500px) {
      width: 470px;
      height: 300px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }
  }
}
