@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("../fonts/Gilroy-Extrabold.woff") format("woff"),
    url("../fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
}
