.main {
  background-image: url(../images/purchases-background.png);
  background-size: cover;

  @media screen and (max-width: 500px) {
    background-image: url(../images/purchases-background\(mini\).png);
    background-position: center;
  }
}

.main-content {
  &__text {
    img {
      transform: translateX(0) translateY(40px);
      @media screen and (max-width: 500px) {
        width: 90px;
        transform: translateX(0) translateY(0);
      }
    }
  }

  &__phone {
    transform: translateY(35px);

    @media screen and (max-width: 500px) {
      position: fixed;
      transform: translateY(-160px);
      right: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.purchase {
  position: relative;
  margin-top: 180px;

  @media screen and (max-width: 500px) {
    margin-top: 80px;
  }

  .background-leaf__left {
    @media screen and (max-width: 500px) {
      width: 110px;
      height: 100px;
      right: 0;
      transform: translateX(460px) translateY(-40px) rotate(180deg);
    }
  }

  &-content {
    width: 85%;
    margin: 0 auto;
    height: 120px;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 50px;
    border: 3px solid rgba(138, 174, 245, 0.3);
    backdrop-filter: blur(15px);
    padding: 30px 0;

    @media screen and (max-width: 500px) {
      width: 90%;
      height: 100px;
      padding: 15px;
      border-radius: 80px;
    }

    &__title {
      text-align: center;
      font-size: 45px;
      color: #8ad2f5;

      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
  }

  .background-leaf__right {
    width: 340px;
    height: 305px;
    position: absolute;
    right: -80px;
    transform: translateX(5px) translateY(-40px) rotate(180deg) scaleY(0.9);
    z-index: -1;

    @media screen and (max-width: 500px) {
      width: 110px;
      height: 100px;
      right: 0;
    }

    img {
      width: 90%;
    }
  }

  .background-leaf__left {
    position: absolute;
    width: 310px;
    height: 280px;
    left: -82px;
    transform: translateX(20px) translateY(-30px) scale(1.1);
    z-index: -1;

    @media screen and (max-width: 500px) {
      transform: translateX(-40px) translateY(-70px) scale(0.4);
      width: 80px;
      height: 100px;
      left: 0;
    }
  }
}

.prices {
  margin-top: 60px;

  @media screen and (max-width: 500px) {
    margin-top: 160px;
  }

  &-header {
    height: 120px;

    ul {
      width: 100%;
      height: 100%;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 20px;
      
      @media screen and (max-width: 500px) {
        width: 95%;
        flex-direction: column;
        margin: 20px auto;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 1px;
        width: 100%;
        height: 120px;
        background-color: #20a6e7;
        color: #ffffff;
        background-color: #20a6e7;
        font-size: 28px;

        @media screen and (max-width: 500px) {
          border-radius: 20px;
          padding: 20px 0;
          margin-top: 10px;
        }

        &:first-child {
          border-radius: 20px 0 0 20px;

          @media screen and (max-width: 500px) {
            border-radius: 20px;
          }
        }

        &:last-child {
          border-radius: 0 20px 20px 0;

          @media screen and (max-width: 500px) {
            border-radius: 20px;
          }
        }
      }

      .active {
        background-color: #01af1c;
      }
    }
  }
}

.card {
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 50px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c7c7c7;

  @media screen and (max-width: 500px) {
    width: 95%;
    padding: 10px;
    margin: 160px auto 0;
    border-radius: 30px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c7c7c7;
    padding: 25px 20px;
    font-size: 22px;
    align-items: center;
    text-align: center;
    z-index: -1;

    h2:nth-child(2) {
      margin-left: 130px;

      @media screen and (max-width: 500px) {
        margin: 0;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 12px;
      padding: 10px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      background-color: rgba(138, 210, 245, 0.4);
      padding: 35px;
      border-radius: 20px;

      @media screen and (max-width: 500px) {
        padding: 15px;
        margin-top: 15px;
      }

      &-title {
        width: 25%;
        font-size: 32px;
        align-items: center;

        @media screen and (max-width: 500px) {
          font-size: 15px;
          width: 33%;
        }
      }

      &-price {
        align-items: center;
        text-align: center;
        font-size: 24px;

        .color-blue {
          font-size: 36px;
          font-weight: bold;
          color: #20a6e7;

          @media screen and (max-width: 500px) {
            font-size: 18px;
          }
        }

        @media screen and (max-width: 500px) {
          font-size: 15px;
        }
      }

      .sale-icon {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translateX(-80px) translateY(-80px);
        z-index: 999;

        @media screen and (max-width: 500px) {
          visibility: hidden;
        }

        p {
          font-size: 25px;
          font-weight: bold;
          transform: translateX(-70px);
        }
      }
    }
  }
}
