@import "general.scss";
@import "fonts.scss";
@import "main-section.scss";

.vip {
  position: relative;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 500px) {
    margin-top: 60px;
  }

  .background-leaf__right {
    width: 280px;
    height: 250px;
    position: absolute;
    right: -30px;
    transform: translateX(65px) translateY(-75px) rotate(180deg);

    @media screen and (max-width: 500px) {
      transform: translateX(10px) translateY(-35px) rotate(180deg);
      width: 110px;
      height: 100px;
      right: 0;
    }

    img {
      width: 90%;
    }
  }

  .background-leaf__left {
    position: absolute;
    width: 280px;
    height: 250px;
    left: 0;
    transform: translateX(-100px) translateY(-90px) scaleY(1.1) scaleX(0.9);
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 500px) {
      visibility: hidden;
    }
  }

  &-content {
    width: 84%;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 50px;
    backdrop-filter: blur(15px);
    padding: 30px 0;

    @media screen and (max-width: 500px) {
      width: 90%;
      height: 220px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 20px;
      border-radius: 40px;
      text-align: center;
    }

    &__title {
      font-size: 45px;
      color: #8ad2f5;

      @media screen and (max-width: 500px) {
        font-size: 32px;
      }
    }

    &__text {
      padding: 30px 40px 10px;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
      letter-spacing: 1.2px;

      @media screen and (max-width: 500px) {
        font-size: 14px;
        padding: 10px 0 0;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }

    &__img {
      width: 100%;
      height: 35px;

      &-mobile {
        width: 100px;
        height: 35px;
        visibility: hidden;

        @media screen and (max-width: 500px) {
          visibility: visible;
        }
      }

      @media screen and (max-width: 500px) {
        visibility: hidden;
      }
    }
  }
}

.vip-images {
  margin-top: 40px;

  img {
    border: 5px solid #8ad2f5;
    border-radius: 50px;
    margin-bottom: 25px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &__child {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }
}
